# sqlihte3
## Documentation

* https://docs.python.org/2/library/sqlite3.html
* Data types - http://www.sqlite.org/datatype3.html

In [ ]:
import sqlite3

In [ ]:
# Module version
sqlite3.version

In [ ]:
sqlite3.version_info

In [ ]:
# Runtime library version
sqlite3.sqlite_version_info

In [ ]:
# Delete the sample db if it exists
import os.path

db_name = 'sqlite_notebook.db'

if os.path.isfile(db_name):
    print "Removing " + db_name
    os.remove(db_name)
else:
    print "no prior db file"

In [ ]:
# Open connection
db = sqlite3.connect(db_name)

In [ ]:
# Create a cursor based on the connection
cursor = db.cursor()

In [ ]:
# Create a table
cursor.execute('drop table if exists list')
cursor.execute('drop table if exists item')
cursor.execute("create table list (id1 text, id2 text)")
cursor.execute("create table item (id1 text, id2 text, name text)")

In [ ]:
# Insert first record
cursor.execute("insert into list values ('01','a')")
cursor.execute("insert into list values ('02','a')")
cursor.execute("insert into list values ('03','a')")
cursor.execute("insert into list values ('04','a')")
cursor.execute("insert into list values ('05','a')")

cursor.execute("insert into item values ('01','a','one')")
cursor.execute("insert into item values ('02','a','two')")
cursor.execute("insert into item values ('05','a','five')")

In [ ]:
# Insert record
cursor.execute('drop table if exists report')
cursor.execute('''
    create temporary table
        report
    as select
        list.id1,
        item.id2,
        item.name
    from 
        list
        LEFT OUTER JOIN item
    ON
        list.id1 = item.id1 and
        list.id2 = item.id2
    ''')

In [ ]:
for row in cursor.execute("""
    select
        id1,
        id2
    from
        report
    where
        name is null
    """): print row

In [ ]:
for row in cursor.execute('select * from report'): print row

In [ ]:
for row in cursor.execute('''
    select * 
    from item,list'''):
    print row

In [ ]:
# Get married -- write everything out for others to see
db.commit()

In [ ]:
# Close connection
db.close